$color-black: #091F2C;
$color-main: #64A1C5;
$color-main-light: #CCEFFF;
$color-white: #FFFFFF;
$color-border: #D3E1E9;

*,
::before,
::after {
  box-sizing: border-box;
}

body {
  font: {
    family: 'Exo', sans-serif;
  }
  margin: 0;
  min-height: 100vh;
}

h2 {
  color: $color-black;
  font: {
    size: 48px;
    weight: 500;
  }
  line-height: 43px;
  margin: 0 0 20px;

  small {
    color: $color-main;
    display: block;
    font: {
      size: 20px;
      weight: normal;
    }
    letter-spacing: 3px;
    text-transform: uppercase;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    color: $color-black;
    font: {
      size: 24px;
    }
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    line-height: 39px;

    &::before {
      background: $color-main-light;
      color: $color-main;
      margin-right: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
    }
  }

  .place {
    &::before {
      content: url("../images/place.svg")
    }
  }

  .phone {
    &::before {
      content: url("../images/phone.svg")
    }
  }

  .mail {
    &::before {
      content: url("../images/mail.svg")
    }
  }
}

p {
  color: $color-black;
  padding-top: 70px;
  font-size: 24px;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;

  &--fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    padding-top: 10px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  height: 100%;

  @media (min-width: 992px) {
    flex-direction: row;
  }

  .col {
    height: 100%;
    padding: 0 15px;
    width: 100%;
    position: relative;

    @media (min-width: 992px) {
      width: 50%;
    }
  }
}

.image {
  height: 674px;
  width: 1010px;
  background-image: url("../images/main-boat.png");
  background-size: cover;
  background-position: top right;
  position: absolute;
  top: -200px;
  right: 0;
  display: none;

  @media (min-width: 992px) {
    display: block;
  }
}

.logo-img {
  width: 153px;
  display: block;

}

.logo-box {
  background: $color-white;
  display: inline-block;
  padding: {
    left: 25px;
    right: 25px;
  };
  position: relative;
}

.logo {
  margin-bottom: 100px;
  text-align: center;
  position: relative;

  &::before {
    background: $color-border;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    width: 100%;
    top: 62px;
  }
}